html, body{
    overflow-x: hidden;

}


body{
    background-color: rgb(144, 189, 191);

}


button{
    background-color:cadetblue;
    width: 100px;
    height: 40px;
    border-style: none;
}

button:hover{
    background-color:rgb(207, 237, 238);

}

.btn_topo2{
    position: fixed;
    top: 1rem;
    right: 1rem;

}



.Input_X1{
    margin-top: 1rem;
    position: relative;
    border-style: none;
    width: 600px;
    max-width: 100%;
    height: 40px;
    box-sizing: border-box;

}

.Input_X2{
    margin-top: 1rem;
    position: relative;
    border-style: none;
    width: 600px;
    max-width: 100%;
    height: 40px;
    box-sizing: border-box;

}

.Input_X3{
    margin-top: 1rem;
    position: relative;
    border-style: none;
    width: 600px;
    max-width: 100%;
    height: 40px;
    box-sizing: border-box;

}


.parent_x1{
    align-items: center;
    align-self: center;
    justify-content: center;
    display: flex;

}

.child_x1{
    position: relative;
    z-index: 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.BGC{
    background-color: cadetblue;
    margin-top: 0rem;
    position: absolute;
    z-index: 1;
    min-width: 100%;
    min-height: 180px;
}

.lista{
    max-width: 100%;
    margin-top: 2rem;

}

.lista li {

    max-width: 100%;
    margin-top: 1rem;
    word-break:break-word;
    overflow-wrap: break-word;
    white-space: normal;

}