html, body{

    margin: 0;
    padding: 0;
    min-height: 100vh;

}


body {
    margin: 0;
    min-height: 100vh;

    background-color: cadetblue;
    background-image: url(WALL.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;

}



button{
    background-color:dodgerblue;
    border: none;
    width: 200px;
    height: 30px;
}

button:hover{
    color: blue;
    cursor: pointer;

}

.parent_X0{
    height: 100vh;
    align-items: center;
    justify-content: center;
    align-content: center;
    display: flex;
    position: relative;
}

.child_X0{
    background-color:rgb(144, 189, 191);
    width: 1000px;
    height: 400px;
    align-items:center;
    justify-content:center;
    display: flex;

}

.child_X1{

    background-color:rgb(195, 211, 212);
    width: 980px;
    height: 380px;
    align-items: center;
    justify-content: center;
    align-content: center;
    display: flex;


}

.letter{
    position: fixed;
    top:190px;
    right:auto;
    max-width: 100%;
    flex-shrink: 1;
    flex-grow: 0;

}






.parent_X0 img {

    max-width: 100%;
    width: 300%;
    height: auto;
    flex-shrink: 1;
    flex-grow: 0;


}
