body {
    background-color: rgb(144, 189, 191);
    background-attachment: fixed;
    margin: 0;
}

button{
    background-color:cadetblue;
    width: 100px;
    height: 40px;
    border-style: none;
}

button:hover{
    background-color:rgb(207, 237, 238);

}

.btn_topo{
    position: fixed;
    top: 1rem;
    right: 1rem;

}

.btn_topo2{
    position: fixed;
    top: 5rem;
    right: 1rem;

}

.view_X1 {
    min-height: 100vh;
    width: 100%;
    display: flex;
    background-color:  rgb(144, 189, 191);
}




.parent_X1{
    width: 340px;
    box-sizing: border-box;
    background-color: cadetblue;
}



.child_X1{
    margin-top: 2rem;
    margin-left: 1rem;
    top: 10px;
    left: 10px;
}


.view_X1 img {
    
    max-width: 100%;
    width: 300%;
    height: auto;
    flex-shrink: 1;
    flex-grow: 0;

}


.parent_X2{ 

    min-height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;

}


.parent_X3{
    margin-top: 10rem;
    height: 600px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}


.child_X3 {

    width: 400px;
    height: 400px;
}


.parent_X4{
    margin-top: 20rem;
    height: 600px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}


.child_X4 {

    width: 400px;
    height: 400px;
}


.parent_X5{
    margin-top: 20rem;
    height: 600px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}


.child_X5 {

    width: 400px;
    height: 400px;
}