html, body{

    margin: 0;
    padding: 0;
    min-height: 100vh;
    

}


body {
    margin: 0;
    min-height: 100vh;

    background-color: cadetblue;
    background-image: url(backgroundpagina.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    min-height: 100dvh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2%;
    overflow-x: hidden;

}



button{
    background-color:dodgerblue;
    border: none;
    width: 200px;
    height: 30px;
}

button:hover{
    color: blue;
    cursor: pointer;

}

.parent_X0{
    height: 100vh;
    align-items: center;
    justify-content: center;
    align-content: center;
    display: flex;
    position: relative;
}

.child_X0{
    background-color:rgb(144, 189, 191);
    width: 1000px;
    height: 400px;
    align-items:center;
    justify-content:center;
    display: flex;

}

.child_X1{

    background-color:rgb(195, 211, 212);
    width: 980px;
    height: 380px;
    align-items: center;
    justify-content: center;
    align-content: center;
    display: flex;


}

.letter{
    position: fixed;
    top:190px;
    right:auto;
    max-width: 100%;
    flex-shrink: 1;
    flex-grow: 0;

}






.parent_X0 img {

    max-width: 100%;
    width: 300%;
    height: auto;
    flex-shrink: 1;
    flex-grow: 0;


}




.grid-container {

    display: grid;
    grid-template-columns: 350px 350px 350px 350px 350px;
    grid-template-rows: 350px 350px;
    gap: 1em;
    grid-template-areas: 
    "box-1 box-1 box-2 box-2 box-3"
    "box-1 box-1 box-4 box-5 box-5"
    ;
    
}
.box {
    background-color: #fff;
    transition-property: transform;
    transition-duration: 1s;
    transition-timing-function: ease;
    transition-delay: 0s;
}
.box:hover{

    transform: scale(1.03);

}
.box:hover:active{
    transform: scale(0.8);

}

.box img{

    width: 100%;
    height: 100%;
    object-fit: cover;
}






















@media(max-width: 109em){

    .grid-container {
        grid-template-columns: 300px 300px 300px 300px;
        grid-template-rows: 300px 300px;
        gap: 1em;
        grid-template-areas: 
        "box-1 box-2 box-2 box-3"
        "box-1 box-4 box-5 box-5"
        ; 
    }
}
@media(max-width: 89em){

    .grid-container {
        grid-template-columns: 200px 200px 200px 200px;
        grid-template-rows: 200px 200px;
        gap: 1em;
        grid-template-areas: 
        "box-1 box-2 box-2 box-3"
        "box-1 box-4 box-5 box-5"
        ;     
    }
}
@media(max-width: 79em){

    .grid-container{
        grid-template-columns: 200px 200px 200px;
        grid-template-rows: 200px 200px 200px;
        gap: 1em;
        grid-template-areas: 
        "box-1 box-1 box-2"
        "box-1 box-1 box-3"
        "box-4 box-5 box-5"
        ;
    }
}
@media(max-width: 39em) {

    .grid-container{
        grid-template-columns: 200px 200px;
        grid-template-rows: 200px 200px 200px 200px 200px;
        gap: 1em;
        grid-template-areas: 
        "box-1 box-1"
        "box-1 box-1"
        "box-2 box-2"
        "box-3 box-4"
        "box-5 box-5"
        ;
    }
}
