body {
    background-color: cadetblue;
    background-attachment: fixed;
}

button{
    background-color:rgb(174, 206, 207);
}

button:hover{
    background-color:rgb(207, 237, 238);

}

.btn_topo{
    position: fixed;
    top: 20px;
    right: 20px;

}






















.parent_X1 {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: cadetblue;
}

.child_X1 {
    width: 800px;
    height: 800px;

}

.parent_X1 img {
    
    max-width: 100%;
    width: 300%;
    height: auto;
    flex-shrink: 1;
    flex-grow: 0;
    border: 4px solid black;

}
