html, body{

    margin: 0;
    padding: 0;
    min-height: 100vh;

}


body {

    background-image: url(WALL.jpeg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;

}

button{
    background-color:dodgerblue;
    border: none;
    width: 30px;
    height: 30px;
    border-radius: 20px;
}

button:hover{
    color: blue;
    cursor: pointer;

}

.parent_X0{
    height: 100vh;
    align-items: center;
    justify-content: center;
    align-content: center;
    display: flex;
}

.child_X0{

    width: 400px;
    height: 100px;

}

#hora{
    font-size: 50px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;

}