body {
    background-color: rgb(144, 189, 191);
    background-attachment: fixed;
    margin: 0;
}

button{
    background-color:cadetblue;
    width: 100px;
    height: 40px;
    border-style: none;
}

button:hover{
    background-color:rgb(207, 237, 238);

}

.btn_topo2{
    position: fixed;
    top: 3rem;
    right: 2rem;

}

.view_0X0{
    min-height: 50px;
    width: 100%;
    align-items: center;
    align-self: center;
    justify-content: center;
    background-color: cadetblue;

}

.view_0X0 img{

    max-width: 100%;
    width: 300%;
    height: auto;
    flex-shrink: 1;
    flex-grow: 0;

}


.view_0X1{
    position: fixed;
    min-height: 140px;
    width: 100%;
    display: flex;
    background-color: cadetblue;
    z-index: 3;
}

.view_0X1 img {

    z-index: 1;

}


.centernome{
    right: 45.5%;
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    align-self: center;
}

.nome{
    top:60px;
    flex-shrink: 1;
    flex-grow: 0;
    font-size: 42px;
}

.centernome2{
    top: 30rem;
    margin-right: 1rem;
    display: flex;
    flex-direction: column;
    position: relative;
    align-items: center;
    justify-content: center;
    align-self: center;
    z-index: 2;
}

.nome2{
    top:60px;
    flex-shrink: 1;
    flex-grow: 0;
    font-size: 62px;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: rgb(0, 0, 0);
}

.nome3{
    top:80px;
    flex-shrink: 1;
    flex-grow: 0;
    font-size: 62px;
    font-family:'Times New Roman', Times, serif;
    color: rgb(223, 220, 228);
}






.icone{
    min-height: 20px;
    min-width: 20px;
    margin-top: 1.5rem;
    margin-left: 1.5rem;

}

.link{
    margin: 5rem;
    min-height: 200px;
    min-width: 200px;

}

.link img {

    max-height: 200px;
    max-width: 200px;

}

.row{
    display: flex;
    flex-direction: row;
    align-items: center;
    align-self: center;
    flex-wrap: wrap;

}
